* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

pre {
  font-family: "Fira Code Medium", Consolas, monospace;
}

$padding: 16px;
$green: #004935;
$pink: #ffbfe0;
$padding: 16px;
body {
  font-size: 16px;
}

.site-page {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.site-main {
  padding-top: 76px;
  padding-left: 180px;
  width: 100%;
}

.site-header {
  background: $pink;
  color: $green;
  display: flex;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  align-items: center;

  .logo {
    > svg {
      height: 1.5em;
      width: 1.5em;
    }

    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 20px;
    color: $green;
  }
}

.site-aside {
  position: fixed;
  top: 60px;
  height: 100%;
  background: $green;
  color: $pink;
  margin-right: 16px;

  h2 {
    padding: $padding;
    font-size: 18px;
  }

  ul {
    min-width: 10em;

    > li {
      a {
        display: block;
        padding: 8px 0 8px 16px;

        &:hover {
          color: $green;
          background: white;
        }

        &.active {
          color: $green;
          background: white;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .site-main {
    padding-top: 65px;
    padding-left: 100px;
    overflow-x: auto;
    //width: 100%;
  }
  .site-aside {
    margin-right: 16px;

    h2 {
      padding: 8px;
    }

    ul {
      min-width: 5em;

      > li {
        a {
          padding: 8px;
        }
      }
    }
  }
}